<html>
    <h1>Convocatorias universidad Nacional</h1>
    <p>La convocatoria </p>
    <p><%= @application.convocation.name %> </p>
    <p>Se encuentra en el estado: <strong><%= @application.state %></strong></p>
</html>
